---
import "@fontsource-variable/montserrat";
import BaseHead from "@/layouts/base-head.astro";
import TailwindIndicator from "@/components/tailwind-indicator.astro";
import { cn } from "@/lib/utils";
// NOTE: work with { Toaster } from "@/components/ui/sonner" but need to update dark theme
import { Toaster } from "sonner";

type Props = {
  title: string;
  description?: string;
  bodyClass?: string;
};

const { title, description, bodyClass } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth light">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class={cn("flex flex-col min-h-screen", bodyClass)}>
    <div class="background-container">
      <slot />
    </div>
    <TailwindIndicator />
    <Toaster richColors client:only="react" />
  </body>
</html>
